body {
  background-color: #494949;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  padding-top: 20px;
}

h1 {
  color: white;
  margin-bottom: 20px;
}
h2 {
  color: white;
  margin-bottom: 20px;
}

canvas {
  image-rendering: pixelated;
  background-color: #c48040;
  width: 700px;
  height: 456px;
  border: 2px solid black;
}

#tutorial {
  text-align: center;
  background-color: #6ac54c;
  width: 700px;
  border: 2px solid black;
  font-size: 20px;
}

table, th, td {
  border: 1px solid;
}

/* 
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  gap: 10px;
}

.card {
  width: 100px;
  height: 150px;
  border-radius: 10px;
  border: 2px solid #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;
  font-weight: bold;
}

.card .corner {
  font-size: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.card .center {
  font-size: 55px;
  top: 33%;
  position: relative;
}

.red {
  color: red;
}

.black {
  color: black;
} 
*/